@charset "utf-8";

/*
Author: Walton
Date: 4/13/2023
Description: CSS file for e-portfolio site

*/
* {
    margin: 0;
    padding: 0;
}

.resume p { background-color: #fff;}

body {
    background-color: #fff;
    font-family: "Hanken Grotesk";
}

.main-body {
    text-align: center;
    padding-top: 4rem;
}

.aboutme h1 {
    font-weight: 800;
    font-size: 3rem;
    padding-bottom: 1.5rem;
}
.aboutme h2 {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 3rem;
}
.aboutme .avatar {
    width: 210px;
    border-radius:50%;
}
.aboutme {
    padding-bottom: 4rem;
}
.more {
    background-color: #21aa38;
    color: #fff;
    padding-top: 4rem;
    text-align: center;
}
.more h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: 800;
}
.more h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    padding-bottom: 3rem;
    width: 60%;
    margin: 0 auto;
}
.testimonials {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.testimonials h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: 800;
}
.testimonials h2 {
    font-size: 1.25rem;
    font-weight: 400;
    color: #141c3a;
}
.testimonials img {
    width: 100px;
    border-radius:50%;
    padding-bottom: 4rem;
    padding-top: 4rem;
}
.testimonials .quote {
    font-size: 1.75rem;
    font-weight: 300;
    font-family: "eurostile", sans-serif;
    max-width: 700px;
    margin: 0 auto 2.5rem;
}
.testimonials .people h1 {
    font-size: 1.25rem;
}
.testimonials .people h2 {
    font-size: 1rem;
}

footer {
    background-color: #21aa38;
    color: #fff;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}
footer img {
    width: 200px;
}

/* Goals page */
.goals {
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
.goals h1 {
    font-size: 2rem;
}
.goals p {
    font-size: 1.25rem;
    line-height: 1.5;
    padding-bottom: 2rem;
}
.goals li {
    font-size: 1.25rem;
    line-height: 1.5;
}